.porttop{
    border-left: solid navy;
    border-top: solid navy;
    border-right: solid navy;
    border-bottom: dashed orange;
    border-width: 8px;
    margin-top: 60px;
    height: 150px;
}
.PORT{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    float: left;
}

.col1{
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
}
.img1{
    height: 150px;
    width: 150px;
    float: left;
}
.col2{
    border-right: solid navy;
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
}
.img2{
    height: 150px;
    width: 150px;
    float: left;
}
.col3{
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
    column-width: 50%;
}
.img3{
    height: 150px;
    width: 150px;
    float: left;
}
.col4{
    border-right: solid navy;
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
    column-width: 50%;
}
.img4{
    height: 150px;
    width: 150px;
    float: left;
}
.col5{
    border-right: solid navy;
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
    column-width: 50%;
}
.img5{
    height: 150px;
    width: 150px;
    float: left;
}
.col6{
    border-right: solid navy;
    border-left: solid navy;
    border-width: 8px;
    height: 200px;
    width: 50%;
    float: left;
    column-width: 50%;
}
.img6{
    height: 150px;
    width: 150px;
    float: left;
}






.cpytext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.copyright{
    padding-top: 50px;
    margin-top: 500px;
    background-color: orange;
    border:solid navy;
    column-width: 100%;
}